## Pandas의 DataFrame
```python
2차원 형태의 데이터를 다루기 위한 자료형  
열: column -> 각 데이터의 특징을 담음. (ex. 이름, 국적, 키...)
행: row, index -> 레코드.  

* Pandas는 Numpy를 기반으로 만들어졌기 때문에, Pandas를 사용하려면 Numpy가 설치되어 있어야 한다.
```

___
#### pandas 함수들
```python
- 데이터프레임 생성
pandas.DataFrame(리스트명) : 리스트를 데이터프레임 형태로 만듦.
pandas.DataFrame(리스트명, column=['컬럼명1','컬럼명2',...], index=['행이름1', '행이름2',...])
    : 데이터프레임을 생성할 때 열 이름과 행 이름을 지정함.(column 파라미터는 열 이름, index 파라미터는 행 이름.)

- 데이터프레임 탐색
변수명.columns : 데이터프레임의 컬럼명을 출력함.
변수명.index : 데이터프레임의 행 이름을 출력함.
변수명.dtypes : 데이터프레임의 각 열이 어떤 자료형인지 출력함.
```
___

In [1]:
import pandas as pd

In [2]:
two_dimensional_list = [['Emma', 50, 86], ['Sam', 89, 31], ['Sarah', 68, 91], ['Jane', 88, 75]]

# 2차원 array 만들기
my_df = pd.DataFrame(two_dimensional_list, columns=['name', 'english_score', 'math_score'],
                     index=['a', 'b', 'c', 'd'])
my_df   # column과 row에 이름을 따로 정해주지 않았으므로 0,1,2.. 이런 식으로 나옴.

    name  english_score  math_score
a   Emma             50          86
b    Sam             89          31
c  Sarah             68          91
d   Jane             88          75

In [ ]:
type(my_df)   # pandas.core.frame.DataFrame

In [ ]:
# 행 이름과 열 이름 출력하기
print(my_df.columns)   # Index(['name', 'english_score', 'math_score'], dtype='object')
print(my_df.index)   # Index(['a', 'b', 'c', 'd'], dtype='object')

Index(['name', 'english_score', 'math_score'], dtype='object')
Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
# 데이터프레임 컬럼의 자료형 보기
my_df.dtypes

name             object
english_score     int64
math_score        int64
dtype: object