## 데이터 준비 (CSV)

In [1]:
import pandas as pd

boston_df = pd.read_csv('data/boston.csv')
boston_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [2]:
# 입력변수 dataframe 만들기
X = boston_df.drop(columns='MEDV')
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [3]:
# 가상의 속성 만들기
from sklearn.preprocessing import PolynomialFeatures

polynomial_transformer = PolynomialFeatures(2)

In [4]:
polynomial_data = polynomial_transformer.fit_transform(X)
polynomial_data  # numpy 행렬

array([[1.00000000e+00, 6.32000000e-03, 1.80000000e+01, ...,
        1.57529610e+05, 1.97656200e+03, 2.48004000e+01],
       [1.00000000e+00, 2.73100000e-02, 0.00000000e+00, ...,
        1.57529610e+05, 3.62766600e+03, 8.35396000e+01],
       [1.00000000e+00, 2.72900000e-02, 0.00000000e+00, ...,
        1.54315409e+05, 1.58310490e+03, 1.62409000e+01],
       ...,
       [1.00000000e+00, 6.07600000e-02, 0.00000000e+00, ...,
        1.57529610e+05, 2.23851600e+03, 3.18096000e+01],
       [1.00000000e+00, 1.09590000e-01, 0.00000000e+00, ...,
        1.54802902e+05, 2.54955600e+03, 4.19904000e+01],
       [1.00000000e+00, 4.74100000e-02, 0.00000000e+00, ...,
        1.57529610e+05, 3.12757200e+03, 6.20944000e+01]])

- `fit()` : 데이터를 학습시키는 메서드
- `transform()` : fit을 기준으로 얻은 mean, variance에 맞춰 데이터 변형하는 메서드
    - 실제로 학습시킨 것을 적용하는 메서드라고 생각하면 된다.
- `fit_transform()` : `fit()`과 `transform()`을 합쳐놓은 것.

주의: 이건 train dataset에 대해서만 해야 하고, test dataset에는 fit/transform을 하면 안 된다!  
+) 데이터 전처리 단계(sklearn의 preprocessing 패키지!)에서 사용하는 함수들.

In [5]:
polynomial_data.shape

(506, 105)

In [6]:
# 실제로 어떤 열이 있는지 확인
polynomial_feature_names = polynomial_transformer.get_feature_names_out(X.columns)
polynomial_feature_names

array(['1', 'CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS',
       'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'CRIM^2', 'CRIM ZN',
       'CRIM INDUS', 'CRIM CHAS', 'CRIM NOX', 'CRIM RM', 'CRIM AGE',
       'CRIM DIS', 'CRIM RAD', 'CRIM TAX', 'CRIM PTRATIO', 'CRIM B',
       'CRIM LSTAT', 'ZN^2', 'ZN INDUS', 'ZN CHAS', 'ZN NOX', 'ZN RM',
       'ZN AGE', 'ZN DIS', 'ZN RAD', 'ZN TAX', 'ZN PTRATIO', 'ZN B',
       'ZN LSTAT', 'INDUS^2', 'INDUS CHAS', 'INDUS NOX', 'INDUS RM',
       'INDUS AGE', 'INDUS DIS', 'INDUS RAD', 'INDUS TAX',
       'INDUS PTRATIO', 'INDUS B', 'INDUS LSTAT', 'CHAS^2', 'CHAS NOX',
       'CHAS RM', 'CHAS AGE', 'CHAS DIS', 'CHAS RAD', 'CHAS TAX',
       'CHAS PTRATIO', 'CHAS B', 'CHAS LSTAT', 'NOX^2', 'NOX RM',
       'NOX AGE', 'NOX DIS', 'NOX RAD', 'NOX TAX', 'NOX PTRATIO', 'NOX B',
       'NOX LSTAT', 'RM^2', 'RM AGE', 'RM DIS', 'RM RAD', 'RM TAX',
       'RM PTRATIO', 'RM B', 'RM LSTAT', 'AGE^2', 'AGE DIS', 'AGE RAD',
       'AGE TAX', 'AGE PTRATIO', 'AGE B', 'AGE LSTAT', 'DIS^2', 'DIS RAD',
       'DIS TAX', 'DIS PTRATIO', 'DIS B', 'DIS LSTAT', 'RAD^2', 'RAD TAX',
       'RAD PTRATIO', 'RAD B', 'RAD LSTAT', 'TAX^2', 'TAX PTRATIO',
       'TAX B', 'TAX LSTAT', 'PTRATIO^2', 'PTRATIO B', 'PTRATIO LSTAT',
       'B^2', 'B LSTAT', 'LSTAT^2'], dtype=object)

`polynomial_feature_names`에는 원래 있었던 속성들로 조합해서 만들 수 있는 모든 2차 조합이 들어있다.  
예) `CHAS RM`같은 속성은 `CHAS`와 `RM` 속성을 곱한 것.

In [7]:
# 가상의 속성들로 DataFrame 만들기
X = pd.DataFrame(polynomial_data, columns=polynomial_feature_names)

In [8]:
# 목표변수 준비
y = boston_df[['MEDV']]
y

     MEDV
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

## scikit-learn으로 다항회귀 하기

다중선형회귀와 방법은 동일.

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [12]:
# test/train data 나누기
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

### 모델 학습

In [13]:
model = LinearRegression()  # 모델 생성

In [14]:
model.fit(X_train, y_train)  # 모델 학습
model.coef_  # 세타값값

array([[-2.55720153e-07, -5.09146959e+00, -1.65753983e-01,
        -5.97358604e+00,  2.43179264e+01,  1.65180559e+02,
         2.19910116e+01,  1.03167123e+00, -5.66895775e+00,
         3.22443249e+00, -1.10055942e-02,  5.35127787e+00,
        -4.81524408e-02,  7.53109325e-01,  2.16774682e-03,
         2.69938772e-01,  5.87901385e-01,  2.41731932e+00,
        -2.52413194e-02,  8.92859572e-02, -5.18832420e-03,
        -5.77807152e-02,  3.55602049e-01, -3.86092282e-02,
         5.43572101e-01, -3.18134358e-04,  2.40035425e-02,
        -7.48850219e-04, -7.16133310e-03, -1.06886010e-01,
        -1.27782609e+00,  2.50137719e-02,  1.14111417e-04,
        -1.25254119e-02, -4.68024813e-03,  6.05725185e-04,
        -8.57873132e-03,  1.85030053e-03, -4.64730601e-03,
         3.08484808e-02, -2.09065897e-01,  1.30035723e+00,
         3.13497405e-01,  6.72540163e-04,  7.51823883e-02,
        -7.38014891e-03,  4.23364348e-04, -6.72155119e-03,
         6.42107774e-03, -5.32275093e-03,  2.43179257e+01,
        -1.84845896e+01, -6.89090796e+00,  3.60375828e-02,
         3.05451225e+00, -4.09746374e-01,  2.34143012e-02,
        -8.47140007e-01,  2.67079534e-02, -4.67786369e-01,
        -4.67850811e+01,  3.64543351e+00, -6.00214489e-01,
         1.59316284e+01, -9.85012971e-01,  1.34091848e-01,
        -1.19204901e+01, -3.52741122e-02,  1.49910251e+00,
         1.61796864e-01, -5.59710757e-02, -2.01415693e-02,
        -1.48173641e-01, -1.44084743e-02, -5.43970810e-01,
        -2.51829107e-03, -2.23180151e-01,  1.04437605e-04,
        -1.11866477e-02,  1.76080422e-02, -5.61733227e-04,
         7.89859007e-04, -7.29621881e-04, -6.91541692e-03,
         5.10744891e-01, -9.97148047e-02, -5.10129116e-03,
        -1.89041938e-01, -7.59517251e-03,  1.03720290e-01,
        -1.40678180e-01,  7.67704651e-03, -1.15933963e-01,
        -9.65920564e-04, -4.55543664e-02, -5.15985543e-05,
         6.37266840e-03, -1.20248657e-04, -1.90119504e-04,
        -1.35160919e-02,  9.14979704e-03, -2.02259705e-04,
        -1.93102593e-05, -7.46677274e-04,  9.84814764e-03]])

In [15]:
model.intercept_  # 세타0

array([-141.89855578])

### 모델 성능 평가

In [16]:
y_test_prediction = model.predict(X_test)

In [17]:
# 예측값과 실제값의 오차 정도 구하기
mean_squared_error(y_test, y_test_prediction) ** 0.5  # RMSE를 구하기 때문에 0.5제곱.

3.196527651315621

결과값은 약 3.2로, 이 모델을 통해 집 값을 예측하는 경우 약 3200달러의 오차가 존재한다는 것.  
다중선형회귀를 했을 때에 비해 오차 정도가 줄어들었으므로, 이 데이터는 다항회귀가 더 잘 맞는 데이터.