### 여행지 선정하기 I

In [2]:
import pandas as pd

In [3]:
world_city = pd.read_csv('../data/world_cities.csv')

In [4]:
# 1. 여행을 좋아하는 익중이는 여행지를 알아보고 있습니다. 주어진 데이터에는 총 몇 개의 도시와 몇 개의 나라가 있나요?
world_city.head(3)

   Unnamed: 0 City / Urban area    Country  Population  Land area (in sqKm)
0           0      Buenos Aires  Argentina    11200000                 2266
1           1         Melbourne  Australia     3162000                 2080
2           2            Sydney  Australia     3502000                 1687

In [ ]:
world_city['City / Urban area'].describe()  # unique: 249
world_city['Country'].describe()  # unique: 61

In [ ]:
# 2. 주어진 데이터에서 인구밀도가 10,000이 넘는 도시는 총 몇 개인지 알아보세요.
# 인구 밀도: (Population) / (Land area)

# 인구 밀도(Density) 컬럼을 데이터프레임에 추가.
world_city['Density'] = world_city['Population'] / world_city['Land area (in sqKm)']

# Density > 10000인 행만 추출해서 개수 카운트
world_city.loc[world_city['Density'] > 10000].info()

In [20]:
# 3. 인구밀도가 가장 높은 도시
world_city.sort_values(by='Density', ascending=False).head(3)

,Unnamed: 0,City / Urban area,Country,Population,Land area (in sqKm),Density
75,75,Mumbai,India,14350000,484,29648.760331
74,74,Kolkata,India,12700000,531,23917.137476
101,101,Karachi,Pakistan,9800000,518,18918.918919