### 여행지 선정하기 II

In [1]:
import pandas as pd

In [4]:
world_city = pd.read_csv('../data/world_cities.csv')
world_city.head(3)

   Unnamed: 0 City / Urban area    Country  Population  Land area (in sqKm)
0           0      Buenos Aires  Argentina    11200000                 2266
1           1         Melbourne  Australia     3162000                 2080
2           2            Sydney  Australia     3502000                 1687

In [12]:
# 1. 나라에 속한 도시가 4개 들어있는 나라는?
city_number = world_city['Country'].value_counts()
city_number.loc[city_number == 4]  # city_number[city_number == 4] 도 가능.

Country
Italy    4
Name: count, dtype: int64