### 1. 코드잇 대학교: 수강신청 준비하기

2000명의 코드잇 대학교 학생들이 수강신청을 했습니다.  

수강신청에는 다음 3개의 조건이 있습니다.  
1. "information technology" 과목은 심화과목이라 1학년은 수강할 수 없습니다.
2. "commerce" 과목은 기초과목이고 많은 학생들이 듣는 수업이라 4학년은 수강할 수 없습니다.
3. 수강생이 5명이 되지 않으면 강의는 폐강되어 수강할 수 없습니다.  

기존 DataFrame에 "status"라는 이름의 column을 추가하고, 학생이 수강 가능한 상태이면 "allowed",  
수강 불가능한 상태이면 "not allowed"를 넣어주세요.

In [1]:
import pandas as pd
enrolment_df = pd.read_csv("../data/enrolment_1.csv")

In [ ]:
enrolment_df.head(3)
enrolment_df.index

#### 조건 1
'information technology' & 1학년 -> 'not allowed'

In [ ]:
# 에러코드 1
for i in enrolment_df.index:
    if enrolment_df['course name']=='information technology' & enrolment_df['year']==1:
        enrolment_df['status'] = 'not allowed'
        i += 1
    else:
        enrolment_df['status'] = 'allowed'
        i +=1

# 실수 1: if 조건문에서 불리언 연산 시 괄호 사용할 것.

# 실수 2: &는 비트연산자이므로 if문에서 사용하기 위해서는 'and' 사용.
#        'and'는 불린연산자인데, enrolemt_df~ 조건문이 Pandas Series인데도 불구하고 불린연산자를 사용하는 것은
#        for문을 실행해 각 행에 대해 코드를 실행하게 되면, 결국 조건 자리에 반환되는 것은 Series가 아닌 단일 값이기 때문.

# 실수 3:
# enrolment_df['status'] = 'not allowed' 같이 코드를 작성하면,
# 해당 텍스트가 모든 행에 적용이 되기 때문에 다음 반복문을 실행하면 그 반복문의 결과로 덮어씌워짐.
# 따라서 각각의 행에 텍스트를 넣기 위해 인덱싱을 활용해야 한다!

# 다른 방법 제안: 벡터 연산.
# 일단 전체 'status'를 'allowed'로 입력.
# (enrolment_df['course name']=='information technology) & (enrolment_df['year']==1) 조건을 변수에 저장.
#       여기서 &연산자를 쓴 것은 enrolment_df['']~ 이게 반환하는 게 Pandas Series 자료형이기 때문.
# 변수를 가지고 인덱싱해서 그 자리에만 'not allowed'로 변경.

In [ ]:
# 전체 status를 allowed로.
enrolment_df['status'] = 'allowed'
# 변수에 조건 저장. ~> 불린 값이 Series 형태로 저장됨
condition1 = (enrolment_df['year'] == 1) & (enrolment_df['course name'] == 'information technology')
# conditionn을 행 조건으로 해서 인덱싱 후 status 변경
enrolment_df.loc[condition1, 'status'] = 'not allowed'

enrolment_df

#### 조건 2
'commerce' & 4학년 -> 'not allowed'

In [ ]:
# 조건 2 설정
condition2 = (enrolment_df['year'] == 4) & (enrolment_df['course name'] == 'commerce')
# status 변경
enrolment_df.loc[condition2, 'status'] = 'not allowed'

#### 조건 3
수강생 5명 이하는 'not allowed'

In [31]:
# 수강생 5명 이하 조건
condition3 = enrolment_df['course name'].value_counts() < 5

# 조건을 만족하는 과목들을 새로운 변수에 저장
courses = condition3[condition3].index
    # condition3[condition3] : condition3에서 True인 항목만 선택.

# 해당 과목명을 포함한 행의 status를 변경
enrolment_df.loc[enrolment_df['course name'].isin(courses), 'status'] = 'not allowed'
    # .isin(): 데이터프레임의 각 요소가 파라미터로 들어온 값(condition3)과 일치하는지 여부를 불린형으로 반환.
    
enrolment_df.head(10)

        id  year             course name       status
0  2777729     1  information technology  not allowed
1  2777730     2                 science      allowed
2  2777765     1                    arts      allowed
3  2777766     2                    arts      allowed
4  2777785     1                     mba      allowed
5  2777786     2                     mba      allowed
6  2777793     1           mba 2nd shift  not allowed
7  2777794     2           mba 2nd shift  not allowed
8  2777795     1           mca 2nd shift  not allowed
9  2777796     2           mca 2nd shift  not allowed