### 2. 코드잇 대학교: 강의실 배정하기 I

수강신청이 완료되었습니다. 이제 각 과목을 수강하는 학생 수에 따라 크기가 다른 강의실을 배치하려고 합니다.  

강의실은 규모에 따라  
- Auditorium
- Large room
- Medium room
- Small room  
총 4가지 종류가 있습니다.

아래 조건에 따라 강의실 종류를 지정해 주세요.

1. 80명 이상의 학생이 수강하는 과목: Auditorium
2. 80명 미만, 40명 이상의 학생이 수강하는 과목: Large room
3. 40명 미만, 15명 이상의 학생이 수강하는 과목: Medium room
4. 15명 미만, 5명 이상의 학생이 수강하는 과목: Small room
5. status가 "not allowed"인 수강생은 room assignment 또한 "not assigned"가 되어야 함.

In [36]:
import pandas as pd
df = pd.read_csv('../data/enrolment_2.csv')

In [30]:
df['room assignment'] = 'Auditorium'

#### 조건 2

In [31]:
# 40 이상 80 미만 - Large room
condition1 = (df['course name'].value_counts() < 80) & (df['course name'].value_counts() >= 40)
# condition1 중 True인 과목의 과목명을 변수에 저장.
aud_course = condition1[condition1].index
# 해당 변수를 가지고 있는 행은 room assignment를 "Large room"로 바꿈.
df.loc[df['course name'].isin(aud_course), 'room assignment'] = 'Large room'

#### 조건 3

In [32]:
# 15 이상 40 미만 - Medium room
condition2 = (df['course name'].value_counts() < 40) & (df['course name'].value_counts() >= 15)
# condition2 중 True인 과목의 과목명을 변수에 저장.
medium_course = condition2[condition2].index
# 해당 변수를 가지고 있는 행은 "Medium room"으로 바꿈.
df.loc[df['course name'].isin(medium_course), 'room assignment'] = 'Medium room'

#### 조건 4

In [33]:
# 5 이상 15 미만 - Small room
condition3 = (df['course name'].value_counts() < 15) & (df['course name'].value_counts() >= 5)
# condition3 중 True인 과목의 과목명을 변수에 저장.
small_course = condition3[condition3].index
# 해당 변수를 가지고 있는 행은 "Small room"으로 바꿈.
df.loc[df['course name'].isin(small_course), 'room assignment'] = 'Small room'

#### 조건 5

In [35]:
# status가 not allowed이면 room도 not assigned
condition4 = df['status'] == 'not allowed'
    # condition4는 'course name'으로 인덱싱한 게 아니기 때문에 
    # 행 번호가 인덱스로 들어간 Pandas Series가 저장됨.
    
# 해당 변수를 가진 행은 "not assigned"로 바꿈.
df.loc[condition4, 'room assignment'] = 'not assigned'
    # condition4의 인덱스와 df의 인덱스가 일치하기 때문에 .index로 변환해주는 작업 없이 그냥 행 인덱싱 조건으로 사용해도 됨.
    # 앞의 condition1~3은 .value_counts()를 사용했기 때문에 인덱스가 과목명이어서 .index로 변환해 준 것.

        id  year             course name       status room assignment
0  2777729     1  information technology  not allowed    not assigned
1  2777730     2                 science      allowed      Auditorium
2  2777765     1                    arts      allowed      Auditorium
3  2777766     2                    arts      allowed      Auditorium
4  2777785     1                     mba      allowed      Small room
5  2777786     2                     mba      allowed      Small room
6  2777793     1           mba 2nd shift  not allowed    not assigned
7  2777794     2           mba 2nd shift  not allowed    not assigned
8  2777795     1           mca 2nd shift  not allowed    not assigned
9  2777796     2           mca 2nd shift  not allowed    not assigned