### List, Numpy Array, Pandas Series >> DataFrame

```python
리스트, Numpy Array, Pandas Series를 DataFrame 형태로 바꿀 수 있다.
```

In [2]:
import numpy as np
import pandas as pd

# 2차원 리스트
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]
# 2차원 numpy array
two_dimensional_array = np.array(two_dimensional_list)
# pandas Series 리스트
list_of_series = [
    pd.Series(['dongwook', 50, 86]), 
    pd.Series(['sineui', 89, 31]), 
    pd.Series(['ikjoong', 68, 91]), 
    pd.Series(['yoonsoo', 88, 75])
]

# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(two_dimensional_list)
df2 = pd.DataFrame(two_dimensional_array)
df3 = pd.DataFrame(list_of_series)

print(df1)

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

### Dictionary of List, Array, Series >> DataFrame

```python
딕셔너리에 담긴 리스트, Numpy Array, Pandas Series를 DataFrame 형태로 바꿀 수 있다.
```

In [4]:
names = ['Emma', 'Sam', 'Sarah', 'Jane']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

# 딕셔너리에 리스트 저장하기 (Dictionary of Lists)
dict1 = {
    'name': names,
    'english_score': english_scores,
    'math_score': math_scores
}

# 딕셔너리에 Numpy Array 저장하기 (Dictionary of Arrays)
dict2 = {
    'name': np.array(names),
    'english_score': np.array(english_scores),
    'math_score': np.array(math_scores)
}

# 딕셔너리에 Pandas Series 저장하기 (Dictionary of Series)
dict3 = {
    'name': pd.Series(names),
    'english_score': pd.Series(english_scores),
    'math_score': pd.Series(math_scores)
}


# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)
df3 = pd.DataFrame(dict3)

print(df1)

    name  english_score  math_score
0   Emma             50          86
1    Sam             89          31
2  Sarah             68          91
3   Jane             88          75

### List of Dictionary >> DataFrame

```python
리스트에 담긴 딕셔너리를 DataFrame 형태로 바꿀 수 있다.
```

In [ ]:
# 리스트에 딕셔너리 저장하기 (List of Dictionary)
my_list = [
    {'name': 'dongwook', 'english_score': 50, 'math_score': 86},
    {'name': 'sineui', 'english_score': 89, 'math_score': 31},
    {'name': 'ikjoong', 'english_score': 68, 'math_score': 91},
    {'name': 'yoonsoo', 'english_score': 88, 'math_score': 75}
]

df = pd.DataFrame(my_list)
print(df)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75