In [1]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('../data/young_survey.csv')
df.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Spending on looks,Spending on gadgets,Spending on healthy eating,Age,Height,Weight,Number of siblings,Gender,Handedness,Education
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,3.0,1,3.0,20.0,163.0,48.0,1.0,female,right,bachelor's degree
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,2.0,5,2.0,19.0,163.0,58.0,2.0,female,right,bachelor's degree
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,3.0,4,2.0,20.0,176.0,67.0,2.0,female,right,high school
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,4.0,4,1.0,22.0,172.0,59.0,1.0,female,right,bachelor's degree
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,3.0,2,4.0,20.0,170.0,59.0,1.0,female,right,high school

In [ ]:
# 실행은 안 되지만 해설 적어둠
# 1. 악기를 다루는 사람들은 시 쓰기를 좋아하는 경향이 있을 것이다.
df.corr().loc['Musical instruments', 'Writing']  # 0.3441...

# 2. 외모에 돈을 많이 투자하는 사람들은 브랜드 의류를 선호할 것이다.
df.corr().loc['Spending on looks', 'Branded clothing']  #0.4183...

# 3. 메모를 자주 하는 사람들은 새로운 환경에 쉽게 적응할 것이다.
df.corr().loc['Writing notes', 'New environment']  # -0.0774...

# 4. 워커홀릭들은 건강한 음식을 먹으려는 경향이 있을 것이다.
df.corr().loc['Workaholism', 'Healthy eating']  # 0.2367...
df.corr().loc['Prioritising workload', 'Healthy eating']  # 0.2425...