### 박물관이 살아 있다 II

- '지역번호' 컬럼을 '지역명'으로 변경, 규칙에 따라 지역 넣기.

In [14]:
import pandas as pd

df = pd.read_csv('../data/museum_3.csv', dtype={'지역번호':str})   # 지역번호를 str타입으로 변경.
df.head()

           시설명  어른관람료      운영기관전화번호  분류 지역번호
0   필암서원 유물전시관    500  061-390-7224  일반  061
1      원주역사박물관      0  033-737-4371  일반  033
2      뮤지엄산미술관  15000  033-730-9000  일반  033
3    오랜미래신화미술관      0  033-746-5256  일반  033
4  연세대학교 원주박물관      0  033-760-2731  대학  033

In [15]:
local_name = {
    '02': '서울시',
    '031': '경기도',
    '032': '경기도',
    '033': '강원도',
    '041': '충청도',
    '042': '충청도',
    '043': '충청도',
    '044': '충청도',
    '051': '부산시',
    '052': '경상도',
    '053': '경상도',
    '054': '경상도',
    '055': '경상도',
    '061': '전라도',
    '062': '전라도',
    '063': '전라도',
    '064': '제주도',
    '1577': '기타',
    '070': '기타'
}

In [17]:
# 컬럼 이름 변경
df.rename(columns={'지역번호': '지역명'}, inplace=True)

# 지역명으로 데이터 변경
df['지역명'] = df['지역명'].map(local_name)

df.head()

           시설명  어른관람료      운영기관전화번호  분류  지역명
0   필암서원 유물전시관    500  061-390-7224  일반  전라도
1      원주역사박물관      0  033-737-4371  일반  강원도
2      뮤지엄산미술관  15000  033-730-9000  일반  강원도
3    오랜미래신화미술관      0  033-746-5256  일반  강원도
4  연세대학교 원주박물관      0  033-760-2731  대학  강원도