### 서류 전형 합격 여부

```pyThon
토익 시험은 LC(듣기) 파트와 RC(독해) 파트로 이루어져 있습니다. 각 파트가 495점 만점, 총 990점이 만점입니다.

"서울 항공"에 입사하기 위해서는 토익 점수를 제출해야 하는데요. 각 파트가 최소 250점, 총 점수가 최소 600점이 되어야
서류 전형을 합격할 수 있습니다.

기존 DataFrame에 "합격 여부"라는 column을 추가하고, 합격한 지원자는 불린 값 True,
불합격한 지원자는 불린 값 False를 넣어주면 됩니다.
```

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/toeic.csv')
df

   Gender   LC   RC
0  female  315  320
1  female  430  245
2  female  430  475
3    male  180  220
4    male  325  350
5  female  295  400
6  female  405  475
7    male  155  150
8    male  280  315
9  female  215  475

In [12]:
# 합격 여부를 리스트에 저장
bool_list = (df['LC']>=250) & (df['RC']>=250) & ((df['LC']+df['RC'])>=600)
bool_list

0     True
1    False
2     True
3    False
4     True
5     True
6     True
7    False
8    False
9    False
dtype: bool

In [13]:
# 데이터프레임에 '합격여부' 열을 만들고 bool_list 지정
df['합격여부'] = bool_list
df

   Gender   LC   RC   합격여부
0  female  315  320   True
1  female  430  245  False
2  female  430  475   True
3    male  180  220  False
4    male  325  350   True
5  female  295  400   True
6  female  405  475   True
7    male  155  150  False
8    male  280  315  False
9  female  215  475  False

### 모범답안

In [ ]:
pass_total = df['LC'] + df['RC'] >= 600  # 불린값이 리스트로 pass_total에 저장됨
pass_both = (df['LC'] >= 250) & (df['RC'] >= 250) # 불린값이 리스트로 pass_both에 저장됨
df['합격 여부'] = pass_total & pass_both  # 두 리스트 모두 True면 True값, 아니면 False값인 결과가 '합격여부'열에 들어감.