### 박물관이 살아 있다 II

- '운영기관전화번호' 컬럼의 맨 앞 3자리를 추출
- '지역번호' 컬럼에 넣기

In [1]:
import pandas as pd

df = pd.read_csv('../data/museum_2.csv')
df.head()

           시설명  어른관람료      운영기관전화번호  분류
0   필암서원 유물전시관    500  061-390-7224  일반
1      원주역사박물관      0  033-737-4371  일반
2      뮤지엄산미술관  15000  033-730-9000  일반
3    오랜미래신화미술관      0  033-746-5256  일반
4  연세대학교 원주박물관      0  033-760-2731  대학

In [6]:
# 운영기관전화번호 문자열 분리
local_tel = df['운영기관전화번호'].str.split(pat='-', n=1, expand=True).head()
local_tel.head()

     0         1
0  061  390-7224
1  033  737-4371
2  033  730-9000
3  033  746-5256
4  033  760-2731

In [7]:
df['지역번호'] = local_tel[0]
df.head()

           시설명  어른관람료      운영기관전화번호  분류 지역번호
0   필암서원 유물전시관    500  061-390-7224  일반  061
1      원주역사박물관      0  033-737-4371  일반  033
2      뮤지엄산미술관  15000  033-730-9000  일반  033
3    오랜미래신화미술관      0  033-746-5256  일반  033
4  연세대학교 원주박물관      0  033-760-2731  대학  033