___
#### 문법 정리
```python
1. column 이름 변경하기: .rename()
형식: 
    데이터프레임.rename({'원래 컬럼명': '새로운 컬럼명'}, inplace=True/False)
    - inplace 파라미터 기본설정은 False -> 파라미터를 작성하지 않으면 기존 데이터베이스가 변경되지 않음.
        - True: 기존 데이터베이스를 변경함.


2. index 열에 이름 생성하기: .index.name
형식:
    데이터프레임.index.name = '새로운 행 이름'


3. index 열 다시 지정하기: .set_index()
기존에 있던 index가 아니라, 새로운 열을 index로 지정하고 싶은 경우에 사용.
형식:
    1) 원래 index인 행을 새로운 컬럼에 저장해준다: .index()
        데이터프레임['새로운 컬럼명'] = 데이터프레임.index
    2) 지정하고 싶은 열을 index로 지정한다.
        데이터프레임.set_index('지정하고 싶은 열', inplace=True/False)
            - inplace 파라미터 기본설정은 False -> 파라미터를 작성하지 않으면 기존 데이터베이스가 변경되지 않음.
                - True: 기존 데이터베이스를 변경함.


* 인덱스로 사용하기 좋은 컬럼: 겹치는 값이 없는 컬럼!
```
___

In [1]:
import pandas as pd

In [2]:
liverpool_df = pd.read_csv('../data/liverpool.csv', index_col=0)
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

### column 이름 변경하기

In [3]:
# column 이름 변경하기
liverpool_df.rename(columns={'position': 'Position'}, inplace=True)

In [4]:
liverpool_df.rename(columns={'born': 'Born', 'number': 'Number', 'nationality': 'Nationality'}, inplace=True)

In [5]:
liverpool_df

                Position  Born  Number Nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

### row 열에 이름 생성하기

In [7]:
liverpool_df.index.name = 'Player Name'
liverpool_df

                Position  Born  Number Nationality
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

### row열 새로 지정하기

In [ ]:
# 선수 이름이 아니라 등번호로 row 기준 열을 변경함.
liverpool_df.set_index('Number')
    # 이 경우 기존에 있던 선수 이름은 데이터프레임에서 사라지기 때문에,
    # 미리 선수 이름을 새로운 컬럼에 저장해야 함.
    # inplace를 써주지 않으면 기존 데이터프레임이 변경되지 않음.

# 선수 이름 데이터 출력
liverpool_df.index  # 기존에 행이었기 때문에 index로 출력
liverpool_df['Player Name'] = liverpool_df.index

In [ ]:
liverpool_df.set_index('Number', inplace=True)

In [11]:
liverpool_df

       Position  Born Nationality      Player Name
Number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker