___
#### 문법 정리
```python
1) 데이터프레임에서 일부 컬럼 Series로 출력
- df['컬럼명']

2) 특정 컬럼에서 중복되는 값을 제거하고 고유값만 보기
- df['컬럼명'].unique()

3) 각 고유값이 몇 번씩 등장하는지 보기
- df['컬럼명'].value_counts()

4) Series에서 describe 사용
- df['컬럼명'].describe()
    > 전체 데이터 개수, 고유값의 개수, 가장 상단에 있는 값, 데이터타입 등 출력.
```
___

In [1]:
import pandas as pd

In [3]:
laptops_df = pd.read_csv('../data/laptops.csv')

In [5]:
# 데이터프레임에서 일부 컬럼을 Series로 뽑기
laptops_df['brand']

0       Dell
1      Apple
2      Apple
3      Apple
4      Apple
       ...
162     Asus
163     Asus
164     Asus
165     Asus
166     Asus
Name: brand, Length: 167, dtype: object

In [7]:
# 중복 제외한 브랜드 출력
laptops_df['brand'].unique()

array(['Dell', 'Apple', 'Acer', 'HP', 'Lenovo', 'Alienware', 'Microsoft',
       'Asus'], dtype=object)

In [8]:
# 각 브랜드가 몇 번씩 나오는지 출력
laptops_df['brand'].value_counts()

brand
HP           55
Acer         35
Dell         31
Lenovo       18
Asus          9
Apple         7
Alienware     6
Microsoft     6
Name: count, dtype: int64

In [9]:
# Series에서 describe 적용
laptops_df['brand'].describe()

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object